.about {
   .about-bg-img {
      height: 300px;
      object-fit: cover;
      width: 100%;
      z-index: 0;
   }

   .about-content {
      padding: 15px;
      position: relative;

      .about-content-txt {
         background: rgba(#fff, 0.5);
         margin: 0 auto;
         max-width: 900px;
         padding: 30px;
         position: relative;
         text-align: center;
         z-index: 1;

         .countries {
            font-family: 'spinweradbold', Georgia, serif;
         }
      }
   }
}
