.about {
   .about-content {
      padding: 15px;
      position: relative;

      .about-bg-img {
         height: 100%;
         left: 0;
         object-fit: cover;
         position: absolute;
         top: 0;
         width: 100%;
         z-index: 0;
      }

      .about-content-txt {
         background: rgba(#fff, 0.5);
         color: #333;
         margin: 45px auto;
         max-width: 900px;
         padding: 30px;
         position: relative;
         text-align: center;
         z-index: 1;

         .countries {
            font-family: 'spinweradbold', Georgia, serif;
         }
      }
   }
}
