.main-header {
   background: rgba(#FFF, 0.8);
   height: 100px;
   left: 0;
   position: sticky;
   top: 0;
   z-index: 99;

   @include tablet {
      background: #FFF;
      height: 60px;
   }

   .header-container {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 350px 1fr;
      height: inherit;
      margin: 0 auto;
      max-width: 1300px;
      position: relative;

      @include tablet {
         grid-template-columns: 250px 1fr;
      }

      .header-social {
         position: absolute;
         right: 0;
         top: 0;

         @include tablet {
            display: none;
         }

         ul {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 10px;

            li {
               a {
                  color: $main-color;
                  transition: all 0.3s;

                  &:hover {
                     color: $accent-color;
                  }
               }
            }
         }
      }

      .logo {
         height: inherit;
         margin: 0;
         width: 350px;

         @include tablet {
            width: 250px;
         }

         a{
            display: block;
            height: 100%;
            text-decoration: none;

            img {
               height: 100%;
               object-fit: contain;
               padding: 10px;
               width: 100%;

               @include tablet {
                  object-position: 0 50%;
               }
            }
         }
      }

      .main-nav {
         justify-self: end;

         @include tablet {
            background: #FFF;
            position: absolute;
            height: 1px;
            transition: all 0.4s;
            top: 100%;
            overflow: hidden;
            width: 100%;

            .menu {
               opacity: 0;
               transition: all 0.5s;
            }

            &.nav-open {
               height: 70vh;
               box-shadow: 0 150px 250px rgba(#000, 0.7);

               .menu {
                  flex-direction: column;
                  opacity: 1;
                  padding: 30px 15px;

                  .nav-link {
                     width: 100%;

                     a {
                        border-bottom: 1px solid $main-color;
                        padding: 15px;
                        text-align: right;

                        &.active {
                           border-bottom: 1px solid $main-color;
                           color: $main-color;
                           font-weight: bold;
                           padding: 15px;
                        }
                     }
                  }
               }
            }
         }

         .menu {
            align-items: flex-end;
            display: flex;
            height: 100%;
            list-style: none;
            margin: 0;
            padding: 0;

            .nav-link {
               margin: 0;

               a {
                  border-bottom: 1px solid transparent;
                  color: #999;
                  display: block;
                  font-size: 0.8em;
                  letter-spacing: 0.1em;
                  padding: 10px 10px 15px;
                  text-decoration: none;
                  text-transform: uppercase;
                  transition: all 0.3s;

                  &:hover {
                     @extend .active;
                  }

                  &.active {
                     border-bottom: 5px solid $main-color;
                     color: $main-color;
                     padding: 10px 10px 13px;
                  }
               }
            }
         }
      }

      @include tablet {
         .mobile-menu {
            justify-self: end;
            align-self: center;
            margin-right: 15px;
            height: 27px;
            width: 35px;
            position: relative;

            .menu-bar {
               background: $main-color;
               height: 3px;
               width: 100%;
               position: absolute;
               transition: all 0.3s;

               &:first-child {
                  top: 0;
               }
               &:nth-child(2) {
                  top: 12px;
               }
               &:last-child {
                  bottom: 0;
               }
            }

            &.open {
               .menu-bar {
                  &:first-child {
                     top: 12px;
                     transform: rotate(40deg);
                  }
                  &:nth-child(2) {
                     opacity: 0;
                  }
                  &:last-child {
                     bottom: 12px;
                     transform: rotate(-40deg);
                  }
               }
            }
         }
      }
   }
}