.hero {
   height: 70vh;
   padding: 0;
   position: relative;

   &:before {
      border-left: 6px solid #FFF;
      border-bottom: 6px solid #FFF;
      bottom: 30px;
      content: '';
      height: 60px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      transform: scaleY(.75) rotate(-45deg);
      width: 60px;
      z-index: 3;
   }

   &:after {
      background: rgba(#FFF, 0.5);
      bottom: 0;
      content: '';
      height: 100px;
      position: absolute;
      width: 100%;
   }

   .slider-container {
      background: #333;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;

      .slider {
         opacity: 0.8;

         .pagination {
            bottom: 100px !important;
         }
      }
   }

   .hero-content {
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-items: center;
      left: 0;
      margin: 0 auto 100px;
      max-width: 900px;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;

      .hero-text {
         color: #FFF;
         text-shadow: 0 0 5px rgba(#000, 0.5);
         text-align: center;
         margin: auto auto 0;

         h2 {
            font-weight: normal;
            font-size: 2em;
            text-transform: none;

            @include tablet {
               font-size: 1.5em;
            }

            strong {
               text-transform: uppercase;
            }
         }

         p {
            font-size: 1.5em;

            @include tablet {
               font-size: 1.25em;
            }
         }
      }

      .button {
         color: #FFF;
         border-color: #FFF;
         font-size: 1em;
         margin: auto;
         pointer-events: initial;
      }
   }
}