.product-modal {
	background: rgba(#fff, 0.75);
	display: flex;
	height: calc(100vh - 100px);
	left: 0;
	opacity: 0;
	padding: 30px;
	position: fixed;
	top: 100px;
	transition: all 0.3s;
	width: 100vw;
	z-index: -1;

	@include tablet {
		height: calc(100vh - 60px);
		padding: 15px;
		top: 60px;
	}

	&.open {
		opacity: 1;
		z-index: 10;
	}

	.modal-container {
		background: #fff;
		box-shadow: 0 3px 5px rgba(#000, 0.5);
		display: flex;
		flex-direction: column;
		height: calc(100vh - 160px);
		margin: auto;
		max-width: 1300px;
		overflow-y: auto;
		position: relative;

		.close-modal {
			cursor: pointer;
			font-size: 3.5em;
			font-weight: bold;
			height: 3rem;
			margin: 0 0 0 auto;
			position: sticky;
			padding: 6px;
			top: 0;
			text-align: center;
			width: 3rem;

			&:hover {
				color: $main-color;
			}
		}

		.modal-title {
			color: $main-color;
			font: 1.5em 'spinweradbold', Georgia, serif;
			margin: 0;
			padding: 0 30px;
			pointer-events: none;
			position: relative;
			text-transform: initial;
			top: -2rem;

			@include tablet {
				padding: 0 15px;
			}
		}

		.modal-content {
			display: grid;
			grid-gap: 30px;
			grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
			padding: 0 30px 30px;

			@include tablet {
				display: flex;
				flex-direction: column;
				padding: 0 15px 15px;
			}

			.product-details {
				border-top: 1px solid #ddd;

				.spec {
					border-bottom: 1px solid #ddd;

					.spec-title {
						color: $accent-color;
						font-size: 1em;
						margin: 15px 0 9px;
						text-transform: uppercase;
					}

					.spec-content {
						color: #333;
						font-size: 0.85em;
						line-height: 1.5;
						margin: 0 0 15px;
					}
				}
			}

			.product-image {
				height: 100%;
				object-fit: cover;
				width: 100%;

				@include tablet {
					height: 250px;
				}
			}
		}
	}
}
