.product-modal {
   background: #fff;
   display: flex;
   height: calc(100vh - 100px);
   left: 0;
   opacity: 0;
   padding: 30px;
   position: fixed;
   top: 100px;
   transition: all 0.3s;
   width: 100vw;
   z-index: -1;

   @include tablet {
      height: calc(100vh - 60px);
      top: 60px;
   }

   &.open {
      opacity: 1;
      z-index: 10;
   }

   .modal-container {
      box-shadow: 0 3px 5px rgba(#000, 0.5);
      display: flex;
      flex-direction: column;
      height: calc(100vh - 120px);
      margin: auto;
      max-width: 1300px;
      overflow-y: auto;
      position: relative;

      .close-modal {
         cursor: pointer;
         font-size: 3.5em;
         font-weight: bold;
         height: 3rem;
         margin: 0 0 0 auto;
         position: sticky;
         padding: 6px;
         top: 0;
         text-align: center;
         width: 3rem;

         &:hover {
            color: $main-color;
         }
      }

      .modal-title {
         color: $main-color;
         font: 1.5em 'spinweradbold', Georgia, serif;
         padding: 0 30px;
         position: relative;
         top: -2rem;
      }

      .modal-content {
         display: grid;
         grid-gap: 30px;
         grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
         padding: 0 30px 30px;

         .product-details {
            border-top: 1px solid #999;

            .spec {
               border-bottom: 1px solid #999;

               .spec-title {
                  color: $accent-color;
                  font-size: 1em;
                  margin: 15px 0 9px;
                  text-transform: uppercase;
               }

               .spec-content {
                  color: #333;
                  margin: 0 0 15px;
               }
            }
         }

         .product-image {
            height: 100%;
            object-fit: cover;
            width: 100%;

            @include tablet {
               height: 250px;
            }
         }
      }
   }
}
